.formationsContent {
    background: $color-3;
    border-radius: $borderRadius;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}