.formations{
    .formationsContent {
        background: $color-3;
        border-radius: $borderRadius;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // align-items: center;
        // flex-wrap: wrap;
        gap: 2em;
        padding: 2em;
            
        .cursusInformation {
            // width: calc(100% / 2.25);
            // height: calc(100% / 8 + 100px);
            padding: 1em;
            border-width: 4px;
            border-style: solid;
            border-image: linear-gradient(to top, #feac5e, #c779d0, #4bc0c8) 1;
            background-color: rgb(66, 66, 66);
            color: rgb(245, 245, 245);
            position: relative;

            .headerBlock{
                margin-bottom: 2em;

                h2 {
                    text-align: center;
                }
    
                h3 {
                    text-align: center;
                    font-size: 1em;
                }
                
                h4 {
                    text-align: center;
                    font-size: .75em;
                }
            }

            i {
                position: absolute;
                bottom: .5em;
                right: .5em;
                background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                background-clip: border-box, border-box;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-size: 2em;
            }
        }
    }
}

